/* For Safari to hide scrollbar */
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}
/* FILE MANAGER */
.file-manager-wrapper {
  background-color: #FFF;
}

.file-manager-body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.file-manager-body .file-manager-leftside {
  width: 240px;
  background-color: #f2f6f7;
  padding: 15px;
  position: relative;
  border-right: 1px solid #e4e9eb;
  overflow: auto;
}

.file-manager-body .file-manager-leftside .split-bar {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6px;
  cursor: col-resize;
  z-index: 1;
}

.file-manager-body .file-manager-middleholder {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #ffffff;
  padding-top: 65px;
  position: relative;
}

.file-manager-body .file-manager-filelist {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.file-manager-body .file-manager-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  background-color: #ffffff;
  border-left: 1px solid #e4e9eb;
  padding: 15px;
}

.file-manager-subheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding: 10px;
  border-bottom: 1px solid #e4e9eb;
  line-height: 44px;
  display: flex;
}

.header-breadcrumbs {
  display: flex;
  width: 80%;
  margin-right: 20px;
  overflow: auto;
}

.header-breadcrumbs .current-folder-title {
  padding: 0 16px 0 10px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.header-breadcrumbs.child .current-folder-title {
  border-right: 1px solid #e4e9eb;
}

.bread-link {
  margin-right: 20px;
  position: relative;
}

.bread-link:after {
  content: "\f105";
  font: normal normal normal 16px FontAwesome;
  position: absolute;
  top: 0;
  right: -15px;
  width: 10px;
  text-align: center;
  height: 19px;
  line-height: 19px;
}

.bread-link:last-child {
  pointer-events: none;
}

.bread-link:last-child:after {
  display: none;
}

.bread-link a {
  padding: 5px;
  margin: 5px;
  color: #333333;
  text-decoration: none;
}

.bread-link:last-child a {
  font-weight: bold;
  color: #14505e;
}

.bread-link a:active,
.bread-link a:focus,
.bread-link a:hover {
  outline: 0;
  text-decoration: none;
}

.bread-link a:hover {
  background-color: #f3f3f3;
  border-radius: 3px;
}

.bread-link:last-child a:hover {
  background-color: transparent;
}

.empty-state, .search-empty-state {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  display: none;
}

.empty-state.active, .search-empty-state.active {
  display: table-caption;
}

.empty-state span, .search-empty-state span {
  font-size: 30px;
}

.empty-state h3, .search-empty-state h3 {
  color: #14505e;
}

.new-btn-holder {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.new-btn-holder .new-btn {
  display: block;
  width: 100%;
  max-width: 220px;
}

.new-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 220px;
  background-color: #FFF;
  padding: 15px 0;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  z-index: 4;
}

.new-menu.active {
  display: block;
}

.new-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-menu ul li {
  margin: 0;
  padding: 5px 15px;
  list-style: none;
  border-left: 4px solid transparent;
  cursor: pointer;
  line-height: normal;
}

.new-menu ul li:hover {
  background-color: #f2f6f7;
  border-left-color: #00abd2;
}

.new-menu ul li label {
  cursor: pointer;
}

.new-menu hr {
  margin: 10px 15px;
  border-top-color: #e4e9eb;
}

.new-menu form input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.new-menu form label {
  font-weight: normal;
  margin: 0;
}

.side-actions {
  width: 100%;
  text-align: center;
  display: none;
}

.side-actions.active {
  display: block;
}

.side-actions .item {
  font-size: 60px;
  height: 100px;
  margin-bottom: 10px;
}

.side-actions .item.file,
.side-actions .item.folder,
.side-actions .item.image,
.side-actions .item.multiple {
  display: none;
}

.side-actions .item.file,
.side-actions .item.folder,
.side-actions .item.multiple {
  line-height: 100px;
}

.side-actions .item.image img {
  max-height: 100%;
}

.side-actions .item ~ p {
  margin-bottom: 15px;
}

.side-actions .item-actions .multiple-item,
.side-actions .item-actions .single-item {
  display: none;
}

.side-actions .item-actions.multiple .multiple-item {
  display: block;
}

.side-actions .item-actions.single .single-item {
  display: block;
}

.dropdown-menu > li > a.text-danger {
  color: #a94442;
}

.dropdown-menu-holder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu-holder .panel-group {
  margin: 0 -15px;
}

.dropdown-menu-holder .panel-group .panel {
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e4e9eb;
}

.dropdown-menu-holder .panel-default > .panel-heading {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  position: relative;
  /*padding-left: 10px;*/
}

.dropdown-menu-holder .panel-heading > .arrow-holder {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  cursor: pointer;
  pointer-events: all;
  z-index: 5;
}

.dropdown-menu-holder .panel-heading > .arrow-holder:hover {
  background-color: #e8eced;
}

.dropdown-menu-holder .panel-heading > .arrow-holder .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.dropdown-menu-holder .panel-heading > .arrow-holder .fa.rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropdown-menu-holder .panel-heading .panel-title {
  padding: 5px 0;
  position: relative;
  padding: 5px 0;
  margin-bottom: 4px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu-holder .list-holder:before {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #00abd2;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu-holder .list-holder.active:before,
.dropdown-menu-holder .list-holder:hover:before,
.dropdown-menu-holder .panel-heading > .fa:hover + .list-holder:before {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu-holder .panel-title .list-text-holder {
  padding-left: 25px;
  margin-left: 25px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 30px);
  line-height: 1.35;
}

.dropdown-menu-holder .panel-title .list-text-holder span {
  font-size: 14px;
  color: #333333;
}

.dropdown-menu-holder .panel-title.active .list-text-holder span {
  font-weight: bold;
  color: #14505e;
}

.dropdown-menu-holder .panel-title .list-text-holder p {
  color: #999;
  font-size: 10px;
  margin: 0;
}

.dropdown-menu-holder .panel-title[data-type="organization"] .list-text-holder:before {
  content: "\f1ad";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  width: 20px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  text-align: center;
}

.dropdown-menu-holder .panel-title.active[data-type="organization"] .list-text-holder:before {
  color: #14505e;
}

.dropdown-menu-holder .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
  /*padding: 10px 0 10px 10px;*/
}

.dropdown-menu-holder .panel-body .app-holder {
  position: relative;
}

.dropdown-menu-holder .panel-body .list-holder {
  padding: 5px 0 5px 25px;
  margin: 5px;
  cursor: pointer;
  word-break: break-all;
}

.dropdown-menu-holder .panel-body .list-holder.active span {
  font-weight: bold;
  color: #14505e;
}
/*
.dropdown-menu-holder li[data-type="app"] .list-text-holder:before {
  content: "\f10b";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  width: 20px;
  height: 39px;
  line-height: 39px;
  font-size: 30px;
  text-align: center;
}

.dropdown-menu-holder li[data-type="folder"] .list-text-holder:before {
  content: "\f07c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}
*/
.f-a {
  height: 100%;
  position: absolute;
  width: 100%;
}

.f-b {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 48px;
}

.f-c {
  min-height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.file-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.file-table-placeholder {
  display: table-column-group;
}

.file-col {
  width: 100%;
  display: table-column;
}

.file-table-header {
  overflow: hidden;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  display: table-header-group;
  top: -48px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 1;
  color: #999;
}

.file-table-body {
  display: table-caption;
}

.file-row {
  display: table-row;
  cursor: default;
}

.file-row.active,
.file-row.active:hover {
  background-color: #00abd2;
  color: #fff;
}

.file-row.focused,
.file-row:hover {
  background-color: #f3f3f3;
}

.file-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  height: 46px;
  line-height: 46px;
  width: 100%;
}

.file-table-header .file-cell {
  border-bottom: none;
  width: 100%;
}

.file-cell.selectable {
  width: 40px;
  padding-right: 10px;
}

.file-select {
  opacity: 0;
  visibility: hidden;
  width: 40px;
  height: 100%;
  text-align: center;
}

.file-row.active .file-select,
.file-row.passive .file-select,
.file-row:hover .file-select {
  opacity: 1;
  visibility: visible;
}

.file-table-header .selectable.active .file-select {
  opacity: 1;
  visibility: visible;
}

.file-row.active .checkbox.checkbox-icon input[type="checkbox"]:checked + label > span.check {
  background-color: #ffffff;
}

.file-row.active .checkbox.checkbox-icon input[type="checkbox"]:checked + label span.check > i.fa {
  color: #00abd2;
}

.file-select .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.file-select .checkbox input[type="checkbox"] {
  top: 12px;
  left: 12px;
}

.file-select .checkbox.checkbox-icon input[type="checkbox"] + label {
  padding-left: 0;
  position: absolute;
  top: 12px;
  left: 12px;
}

.file-name {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 500px;
  position: relative;
  white-space: nowrap;
}

.file-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-table-body .file-name {
  padding-left: 30px;
}

.file-owner {
  white-space: nowrap;
  width: 215px;
}

.file-owner span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-date {
  white-space: nowrap;
  width: 176px;
}

.file-date span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-size {
  white-space: nowrap;
  width: 100px;
}

.file-size span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-ID {
  white-space: nowrap;
  width: 60px;
  text-align: center;
}

.file-path {
  width: 300px;
}

.file-size {
  width: 100px;
}

.file-path span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.file-table-body .file-ID {
  color: #bbbbbb;
}

.file-row.active .file-options,
.file-row.focused .file-options,
.file-row:hover .file-options {
  opacity: 1;
  visibility: visible;
}

.file-name:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.file-row[data-file-type="image"] .file-name img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 25px;
  height: auto;
  max-height: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.file-row[data-file-type="folder"] .file-name:before {
  content: "\f07c";
}

.file-row[data-file-type="document"] .file-name:before {
  content: "\f15b";
}

.file-row[data-file-type="video"] .file-name:before {
  content: "\f03d";
}

.file-row[data-file-type="audio"] .file-name:before {
  content: "\f028";
}

.file-row[data-file-type="font"] .file-name:before {
  content: "\f031";
}

.file-options-menu {
  display: none;
  position: absolute;
  background-color: #FFF;
  padding: 15px 0;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  z-index: 2;
}

.file-options-menu.active {
  display: block;
}

.file-options-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.file-options-menu ul li {
  margin: 0;
  padding: 5px 15px;
  list-style: none;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.file-options-menu ul li:hover {
  background-color: #f2f6f7;
  border-left-color: #00abd2;
}

.file-options-menu #rename-file,
.file-options-menu #rename-folder {
  display: none;
}

.file-options-menu hr {
  margin: 10px 15px;
  border-top-color: #e4e9eb;
}
@media screen and (max-width: 1280px) {
  .file-owner {
    width: 145px;
  }

  .file-date {
    width: 125px;
  }
}

#folder-contents {
  display: flex;
  list-style: none;
}

#folder-contents li {
  width: 150px;
  background-color: #EEE;
  margin: 0 20px 20px 0;
  padding: 20px;
}

.file h3,
.folder h3 {
  margin: 0 0 10px;
  font-size: 14px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 0;
  z-index: 1;
}

.progress-bar {
  background-color: #0087a6;
}

.drop-zone {
  background: rgba(0, 171, 210, 0.2);
  border: 2px solid #00abd2;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px;
  z-index: 9999;
  justify-content: center;
  align-items: flex-end;
  display: none;
}

.drop-zone.active {
  display: flex;
}

.drop-zone-box {
  background: #00abd2;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  pointer-events: none;
}

.drop-zone-box p + p {
  margin-bottom: 0;
}

.drop-zone-box i.fa {
  font-size: 16px;
  margin-right: 5px;
}

.drop-zone-icon {
  text-align: center;
  font-size: 64px;
  color: #fff;
}

.drop-zone-icon i.fa {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.drop-area {
  height: auto;
  width: auto;
  background-color: rgba(174, 199, 218, .2) !important;
}

.alert-wrapper {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #434343;
  position: absolute;
  bottom: 5%;
  left: calc(50% - 125px);
  height: auto;
  min-width: 150px;
  padding: 10px 15px;
}

.alert-message {
  color: #fff;
}

.alert-action button {
  color: #6c9de7;
  border: none;
  outline: none;
  margin-left: 25px;
  background-color: transparent;
}

.search-holder {
  display: flex;
  width: 30%;
}

.search-holder .search-term {
  margin-left: 10px;
  margin-right: 10px;
}

.search-holder .search-type {
  width: 190px;
}

.search-result-cell {
  display: none;
}

.search-result .search-result-cell {
  display: table-cell;
}

.search-result .folder-result-cell {
  display: none;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .file-name {
    width: 400px;
  }

  .file-path {
    width: 200px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .file-name {
    width: 300px;
  }

  .file-path {
    width: 150px;
  }
}

@media (max-width: 1280px) {
  .file-name {
    width: 150px;
  }

  .file-path {
    width: 100px;
  }
}
