/*BUTTONS*/
.btn {
    border-radius: 6px;
    line-height: 44px;
    padding: 0 15px;
    border: none;
}
.btn-default {
    color: #333;
    background-color: #e4e9eb;
    border-bottom: 2px solid #cfd3d5;
}
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #cfd3d5;
    border-color: #cfd3d5;
    outline: none;
}
.btn-primary {
    color: #FFF;
    background-color: #00abd2;
    border-bottom: 2px solid #0087a6;
}
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
    outline: none;
}
.btn-danger {
    color: #FFF;
    background-color: #d9534f;
    border-bottom: 2px solid #c9302c;
}
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
    color: #FFF;
    background-color: #c9302c;
    border-color: #c9302c;
    outline: none;
}
.btn-link,
a {
    color: #00abd1;
}
/* FORMS */
.form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-control {
    border-radius: 6px;
    border: 1px solid #e4e9eb;
    color: #333;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #00abd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}
.select-proxy-display {
    width: 250px;
    height: 44px;
    margin: 0 auto;
    padding: 0 44px 0 15px;
    background: #fff;
    border: 1px solid #e4e9eb;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    line-height: 44px;
    position: relative;
    color: #333;
}
.select-proxy-display .icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: -1px;
    right: -1px;
    background-color: #00abd2;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #e4e9eb;
}
.hidden-select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 44px;
    cursor: pointer;
    opacity: 0;
}
/* FILE MANAGER */
.file-manager-wrapper {
    background-color: #FFF;
}
.file-manager-header {
    position: relative;
    height: 65px;
    padding: 10px 15px;
    border-bottom: 2px solid #e4e9eb;
    line-height: 44px;
}
.file-manager-header h1 {
    margin: 0;
    font-size: 2em;
    line-height: 44px;
    display: inline-block;
    float: left;
    font-weight: 300;
}
.file-manager-header h1 i {
    color: #00abd2;
}
.file-manager-header .sort-search-holder {
    position: absolute;
    right: 15px;
    margin: 0;
}
.file-manager-header .sort-search-holder .form-group {
    float: left;
    margin: 0 0 0 10px;
    border-left: 1px solid #e4e9eb;
    padding-left: 10px;
}
.file-manager-header .sort-search-holder .form-group:first-child {
    margin: 0;
    border-left: none;
    padding-left: 0;
}
.file-manager-header .form-group .file-manager-search {
    border-radius: 6px 0 0 6px;
    float: left;
    width: 300px;
}
.file-manager-header .form-group .search-files-btn {
    border: none;
    border-radius: 0 6px 6px 0;
    float: left;
}
.file-manager-body {
    display: flex;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    bottom: 0;
}
.file-manager-body .file-manager-leftside {
    min-width: 240px;
    background-color: #f2f6f7;
    padding: 15px;
    position: relative;
}
.file-manager-leftside .new-btn {
    display: block;
}
.new-menu {
    display: none;
    position: absolute;
    width: 240px;
    background-color: #FFF;
    padding: 15px 0;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    z-index: 2;
}
.new-menu.active {
    display: block;
}
.new-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.new-menu ul li {
    margin: 0;
    padding: 5px 15px;
    list-style: none;
    border-left: 4px solid transparent;
    cursor: pointer;
}
.new-menu ul li:hover {
    background-color: #f2f6f7;
    border-left-color: #00abd2;
}
.new-menu hr {
    margin: 10px 15px;
    border-top-color: #e4e9eb;
}
.new-menu form input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.new-menu form label {
    font-weight: normal;
    margin: 0;
}
.file-manager-body .file-manager-middleholder {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    background-color: #ffffff;
    padding-top: 65px;
    position: relative;
}
.file-manager-body .file-manager-filelist {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.file-manager-body .file-manager-rightside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
    background-color: #e8eced;
}
.file-manager-subheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    padding: 10px 30px;
    border-bottom: 1px solid #e4e9eb;
    line-height: 44px;
}
.header-breadcrumbs {
    display: inline-block;
}
.header-breadcrumbs .fa {
    font-size: 1em;
    margin: 0 10px;
    line-height: 44px;
}
.dropdown-menu-holder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown-menu-holder ul {
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
    margin: 0 -14px 0 -15px;
}
.dropdown-menu-holder li {
    padding: 0 0 0 15px;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.dropdown-menu-holder li > .list-holder {
    padding: 5px 0;
    position: relative;
}
.dropdown-menu-holder li > .list-holder:hover:before,
.dropdown-menu-holder li.active > .list-holder:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #00abd2;
}
.dropdown-menu-holder li ul {
    padding: 1px 0 5px;
    margin: 0 0 2px;
}
.dropdown-menu-holder li ul li {
    padding: 0 0 0 25px;
    margin-bottom: 1px;
}
.dropdown-menu-holder li .fa {
    float: left;
    width: 15px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    cursor: default;
    pointer-events: all;
}
.dropdown-menu-holder li.active > .list-holder .fa {
    color: #14505e;
}
.dropdown-menu-holder li .fa:hover,
.dropdown-menu-holder li.active .fa:hover {
    color: #000;
}
.dropdown-menu-holder li .list-text-holder {
    float: left;
    height: 39px;
    margin-left: 5px;
    padding-left: 30px;
    position: relative;
}
.dropdown-menu-holder li .list-text-holder span {
    font-size: 14px;
}
.dropdown-menu-holder li ul li .list-text-holder span {
    font-size: 12px;
}
.dropdown-menu-holder li.active > .list-holder .list-text-holder span {
    font-weight: bold;
    color: #14505e;
}
.dropdown-menu-holder li .list-text-holder p {
    color: #999;
    font-size: 10px;
    margin: 0;
}
.dropdown-menu-holder li[data-type="organization"] .list-text-holder:before {
    content: "\f0c0";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    width: 30px;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    text-align: center;
}
.dropdown-menu-holder li[data-type="app"] .list-text-holder:before {
    content: "\f10b";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    width: 30px;
    height: 39px;
    line-height: 39px;
    font-size: 30px;
    text-align: center;
}
.dropdown-menu-holder li[data-type="folder"] .list-text-holder:before {
    content: "\f07c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
}
.dropdown-menu-holder li[data-type="folder"] .list-text-holder {
    height: 25px;
}
.dropdown-menu-holder li[data-type="folder"] .fa {
    height: 25px;
    line-height: 25px;
}
.dropdown-menu-holder li[data-type="folder"] .list-text-holder span {
    line-height: 25px;
}
.dropdown-menu-holder li.active > .list-holder .list-text-holder:before {
    color: #14505e;
}
.dropdown-menu-holder .no-subfolder .fa {
    opacity: 0;
    visibility: hidden;
}
.dropdown-menu-holder li ul {
    display: none;
}
.dropdown-menu-holder li ul.expanded {
    display: block;
}
.f-a {
    height: 100%;
    position: absolute;
    width: 100%;
}
.f-b {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 48px;
}
.f-c {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.file-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.file-table-placeholder {
    display: table-column-group;
}
.file-col {
    width: 100%;
    display: table-column;
}
.file-table-header {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    display: table-header-group;
    padding-right: 16px;
    top: -48px;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
    color: #999;
}
.file-table-body {
    display: table-row-group;
}
.file-row {
    display: table-row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.file-row.active,
.file-row:hover {
    background-color: #00abd2;
    color: #fff;
}
.file-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
    width: 100%;
}
.file-cell:first-child {
    padding-left: 30px;
}
.file-table-header .file-cell {
    border-bottom: none;
    width: 100%;
}
.file-name {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    white-space: nowrap;
}
.file-name span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-table-body .file-name {
    padding-left: 30px;
}
.file-row[data-file-type="folder"] .file-name {
    cursor: pointer;
}
.file-owner {
    white-space: nowrap;
    width: 215px;
}
.file-owner span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-date {
    white-space: nowrap;
    width: 176px;
}
.file-date span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-size {
    white-space: nowrap;
    width: 100px;
}
.file-size span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-options {
    opacity: 0;
    visibility: hidden;
    width: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.file-options .fa {
    pointer-events: none;
}
.file-options:hover {
    background-color: #0499bb;
}
.file-options:active {
    background-color: #14505e;
}
.file-row.active .file-options,
.file-row:hover .file-options {
    opacity: 1;
    visibility: visible;
}
.file-name:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
}
.file-row[data-file-type="image"] .file-name img {
    display: inline-block;
    position: absolute;
    left: 0;
    max-width: 25px;
    height: auto;
    max-height: 25px;
    line-height: 25px;
    text-align: center;
}
.file-row[data-file-type="folder"] .file-name:before {
    content: "\f07c";
}
.file-row[data-file-type="document"] .file-name:before {
    content: "\f15b";
}
.file-row[data-file-type="video"] .file-name:before {
    content: "\f03d";
}
.file-row[data-file-type="audio"] .file-name:before {
    content: "\f028";
}
.file-row[data-file-type="font"] .file-name:before {
    content: "\f031";
}
.file-options-menu {
    display: none;
    position: absolute;
    background-color: #FFF;
    padding: 15px 0;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    z-index: 2;
}
.file-options-menu.active {
    display: block;
}
.file-options-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.file-options-menu ul li {
    margin: 0;
    padding: 5px 15px;
    list-style: none;
    border-left: 4px solid transparent;
    cursor: pointer;
}
.file-options-menu ul li:hover {
    background-color: #f2f6f7;
    border-left-color: #00abd2;
}
.file-options-menu hr {
    margin: 10px 15px;
    border-top-color: #e4e9eb;
}
@media screen and (max-width: 1229px) {
    .file-manager-body .file-manager-rightside {
        display: none;
    }
}
@media screen and (max-width: 1280px) {
    .file-owner {
        width: 145px;
    }
    .file-date {
        width: 125px;
    }
}
#folder-contents {
    display: flex;
    list-style: none;
}
#folder-contents li {
    width: 150px;
    background-color: #EEE;
    margin: 0 20px 20px 0;
    padding: 20px;
}
.file h3,
.folder h3 {
    margin: 0 0 10px;
    font-size: 14px;
}
